@media screen and (max-width: 1500px) {
    #wrapper {
        position: absolute;
        width: 40%;
        left: 30%;
        height:75%;
    }
}
@media screen and (max-width: 890px) {
    #wrapper {
        position: absolute;
        
        min-height: 500px;
    }
    #chatbox {      
    height: 55%;
        
}  
textarea {
    resize: none;
    width: 87%;
    height: 18%;

}   
}

@media screen and (max-width: 500px) {
   
#wrapper {
        position: absolute;
        min-width: 300px;
        
        min-height: 500px;
    }

}
@media screen and (max-width: 590px) {
    .chat {
        position: absolute;
        width: 80%;
        left: 15%;
    }
    .sendmessage {
    margin-top:80%;
    width: 94%;
    position: absolute;
    height: 20%;
    margin-bottom: 290px;

    }
}

