@media screen and (max-width: 1500px) {
    .chat {
        position: absolute;
        width: 40%;
        left: 30%;
        height:80%;
    }
}
@media screen and (max-width: 1200px) {
    .sendmessage {
    margin-top: 75%;
    width: 94%;
    position: absolute;
    height: 20%;
    margin-bottom: 290px;

}
}

@media screen and (max-width: 992px) {
    .chat {
        position: absolute;
        width: 60%;
        left: 30%;
        height:80%;
    }
    .sendmessage {
    margin-top: 55%;
    width: 94%;
    position: absolute;
    height: 20%;
    margin-bottom: 290px;

}
}

@media screen and (max-width: 650px) {
    .chat {
        position: absolute;
        width: 80%;
        left: 15%;
    }
    .sendmessage {
    margin-top: 55%;
    width: 94%;
    position: absolute;
    height: 20%;
    margin-bottom: 290px;

    }
}
@media screen and (max-width: 590px) {
    .chat {
        position: absolute;
        width: 80%;
        left: 15%;
    }
    .sendmessage {
    margin-top:80%;
    width: 94%;
    position: absolute;
    height: 20%;
    margin-bottom: 290px;

    }
}

@media screen and (max-width: 495px) {
    .chat {
        position: absolute;
        width: 90%;
        left: 5%;
    }

    .my-btn{
        width: 100%;
    }

    .btn-send{
        width: 100%;
    }

    .chatbox{
        width:93%;
    }

    .input{
        width: 93%;
    }

    .input-user{
        width: 40%;
    }
    main{
        height: 80%;
    }
    .sendmessage {
    margin-top: 80%;
    width: 94%;
    position: absolute;
    height: 20%;
    margin-bottom: 290px;

    }
}
