html, body {
    margin: 0;
    padding: 0;
    color: white;
    height: 100%;
    background:#EBF4FB;
}

.header {
    background-color: #f0f0f0;
    padding: 10px;
}
.section-inner {
    max-width: 1200px;
    margin: 0 auto;
}
.section-headline {
    font-family: 'Open Sans Bold';
    color: #333333;
    font-size: 38.5px;
    line-height: 38.5px;
    padding: 12px 20px;
}
.login-form{
    position: absolute;
    float: right;
    top: 20px;
    right: 20px;
}



footer{
    margin-top: 450px;
    /*height: 20%;*/
    font-family: "Open Sans";
    margin: 50px auto;
    line-height: 100px;
    padding: 0 70px;
    color: #949494;/
    font-size: 24px;
}


.chat {
    font-weight: normal;
    left: 35%;
    width: 60%;
    margin-top: 20px;
    height:80%;

}

main{
    height: 57%;
}
.chatbox{
    width: 94%;
    position: absolute;
    color: #151515;
    padding: 4px 6px;
    background:#fff;
    font-size: 14px;
    line-height: 20px;
    height: 60%;
    border: 2px solid #151515;
    border-radius: 4px;
    font-family: 'Open Sans';
    overflow:auto;

    
}
.sendmessage {
    margin-top: 60%;
    width: 94%;
    position: absolute;
    height: 20%;
    margin-bottom: 290px;

}
.btn-send{
    padding: 3px 13px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    background-color: #337ab7;
    border: 1px solid #337ab7;
    border-radius: 4px;
    font-family: 'Open Sans Semibold';
    width: 29%;
}
.btn-send:active {
    color: rgb(51,51,51);
    border: 1px solid rgb(204,204,204);
    background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgba(187, 196, 213, 0.72));
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}
.input-user{
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #151515;
    width: 160px;
    border: 1px solid #bbc4d5;
    border-radius: 4px;
    font-family: 'Open Sans';
}
.input{
    height: 20px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #151515;
    width: 65%;
    border: 2px solid #151515;
    border-radius: 4px;
    font-family: 'Open Sans';
}




.my-btn {
    display: inline-block;
    padding: 3px 13px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-align: left;
    cursor: pointer;
    background-color: #337ab7;
    border: 1px solid #337ab7;
    border-radius: 4px;
    font-family: 'Open Sans Semibold';
    width: 32%;
}



.btn-login {
    display: inline-block;
    padding: 3px 13px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    background-color: #337ab7;
    border: 1px solid #337ab7;
    border-radius: 4px;
    font-family: 'Open Sans Semibold';
}

.my-btn:active {
    color: rgb(51,51,51);
    border: 1px solid rgb(204,204,204);
    background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgba(187, 196, 213, 0.72));
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}



.btn-login:active {
    color: rgb(51,51,51);
    border: 1px solid rgb(204,204,204);
    background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgba(187, 196, 213, 0.72));
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}




.marg{
    margin-top: 10px;
}





